<!DOCTYPE html>
<html>
  <head>
    <title>Whats for Lunch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fuild">
      <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <%= link_to "Home", root_path, class: 'nav-link active'%>
              <%= link_to "Restaurants", restaurants_path, class: 'nav-link'%>
              <a class="nav-link" href="#">Login</a>
          </div>
          </div>
      </div>
      </nav>
      <div class="container">
        <%= yield %>
      </div>
      <footer>
        <p>Powered by Ruby on Rails and PostgreSQL</p>
      </footer>
    </div>
  </body>
</html>
